PORT=3001
ORIGIN=http://localhost:5173
SOS_API_URL=https://sos26-api.sohosai.com
DATABASE_URL=mysql://tanpopo:tanpopo@localhost:3306/tanpopo
WEB_APP_URL=http://localhost:5173
LINE_CHANNEL_ID=
LINE_CHANNEL_SECRET=
LINE_CALLBACK_URL=http://localhost:3001/auth/line/callback
GRANDPRIX_WIN_RATE=0.2