SOS_API_URL=https://sos26-api.sohosai.com
GRANDPRIX_WIN_RATE=0.2
HIDDEN_PROJECT_NUMBERS=
GRANDPRIX_HIDDEN_PROJECT_NUMBERS=
LINE_CHANNEL_ID=
LINE_CHANNEL_SECRET=
LINE_CALLBACK_URL=http://localhost:5173/auth/line/callback
